.viewport {
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background:rgba(250, 246, 246, 0.959);
}
.serch_box {
    min-width: 320px;
    max-width: 640px;
    width:100%;
    height:40px;
    background:#c91523;
    position: fixed;
    z-index: 10;
}
.logo {
    width: 55px;
    height: 20px;
    background: url(../img/jd-sprites.png) no-repeat;
    background-position: -4px -109px;
    background-size: 200px 200px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 10px;
    color:transparent;
}
.log {
    display: block;
    width: 100%;
    height:30px;
}
.search {
    height: 40px;
    margin:0 60px 0 80px;
    position: relative;

}
.sear {
    width: 100%;
    height: 30px;
    margin-top:5px;
    border-radius: 25px;
    padding-left:35px;
    box-sizing: border-box;
  
}
.search_bon {
    display: block;
    width: 20px;
    height: 20px;
    background:url(../img/jd-sprites.png) no-repeat;
    background-size:200px 200px;
    background-position: -60px -109px;
    position: absolute;
    top:10px;
    left:10px;
}
.login {
    width: 60px;
    height: 40px;
    position: absolute;
    right:0px;
    top:0px;
}
.login  a{
    display: block;
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
/* banner区域 */
.banner {
    width: 100%;
}
.banner img {
    vertical-align: middle;
}
/* 列表导航区域 */
.nav {
    width: 100%;
    height:155px;
    background:#fff;
}
.nav li {
    float: left;
    width: 25%;
    text-align: center;
    margin-top:10px;
}
.nav li a img {
    height:40px;

}
.nav li a span {
    font-size: 12px;
    display: block;
    text-align: center;
}
/* 掌上秒杀 */
.seckill {
    width: 100%;
}
.seckill_top {
    height:35px;
    background:#fff;
    margin-top:10px;
}
.seckill_bottom {
    background:#fff;
}
.skclock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:url(../img/jd-sprites.png) no-repeat;
    background-size: 200px 200px;
    background-position:-81px -111px;
    margin:7px 5px 0 15px;
}
.skill {
    line-height: 35px;
    color:#c91523;
    font-size: 14px;
}
.seckill_top ul li {
    color:#fff;
    font-size: 10px;
    margin-top:10px;
    text-align: center;
}
.seckill_top ul li:first-child {
    margin-left:10px;
}
.seckill_top ul li:nth-child(2n) {
    color:black;

}
.secd {
    width: 18px;
    height: 18px;
    background:black;
    border-radius: 6px;   
}
.geng {
    font-size:14px;
    line-height: 35px;
}
.seckill_top a::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    background:url(../img/jd-sprites.png) no-repeat;
    background-size:200px 200px;
    background-position: -185px -49px;
    margin-top:10px;
    margin-left:10px;
}
.seckill_bottom_left {
    width:33.33%;
}
.seckill_bottom_middle {
    width:33.33%;
}
.seckill_bottom_right {
    width:33.33%;
}
.one_top {
    position: relative;
}
.re {
    display: block;
    width: 30px;
    height: 30px;
    color:white;
    background:orange;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right:10px;
    bottom:5px;
}
.money {
    display: block;
    color:red;
    text-align: center;
    background:#fff;
}
.del {
    display: block;
    text-align: center;
    font-size:12px;
    color:grey;
    background:#fff;
    margin-bottom:10px;
}
/* 神券 */
.content {
    width:100%;
    position: relative;
}
.content a {
    display: block;
}
.content_bottom {
    position: absolute;
    bottom:8px;
}
.content_bottom_left {
    width: 49%;
    margin:0 0px 0px 5px;
}
.content_bottom_right {
    width: 49%;
}
/* 图片展示 */
.picture_show {
    width: 100%;
}
.img_one {
    width: 33.33%;

}
.img_two {
    width: 50%;
}
/* 猜你喜欢 */
.like {
    width: 100%;
}
.l_item_top {
    width: 100%;
    height:35px;
    background:#fff;
}
.like_item {
    background:#fff;
}
.cai {
    line-height: 35px;
    margin-left:10px;
}
.logn {
    color:red;
    margin-right:10px;
    position: relative;
}
.logn::before {
    content:"";
    display: inline-block;
    width: 18px;
    height:18px;
    background: pink url(../img/icon-login.png) no-repeat;
    background-size: 18px;
    border-radius: 50%;
    position: absolute;
    top:8px;
    left:-20px;
}
.l_item_bottom ul li {
    float: left;
    width: 50%;
    padding:10px;
    box-sizing: border-box;
}
.item_img {
    display: block;
    width: 100%;
    border-bottom:2px solid #666;
}
.lei {
    font-size:11px;
    line-height: 20px;
    background:#fff;
}
.item_price {
    background:#fff;
}
.pri {
    color:red;
    margin-top:5px;
    font-size: 10px;
}
.si {
    font-size: 10px;
    border:1px solid #666;
    margin-top:5px;
}
/* 底部 */
.bootom {
    width: 100%;
}
.click_more {
    width: 100%;
    height:32px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align: center;
    line-height: 32px;
}
.click {
    display: block;
    width: 100%;
    height:100%;
}
.buttons {
    width: 100%;
    height:50px;
    border-bottom:1px solid #ccc;

}
.buttons ul li:nth-child(2n-1) {
    width: 24%;
    font-size:13px;
    color:#666;
    line-height: 50px;
    text-align: center;
}
.line {
    width:1px;
    height:15px;
    background:#666;
    margin-top:20px;
}
.icons_show {
    width: 100%;
    height:80px;
    margin-bottom:44px;
}
.last_bot {
    display: block;
    width: 33.33%;
    height:100%;
    position: relative;
    padding-top:50px;
    text-align: center;
    box-sizing: border-box;
}
.app1 {
    display: block;
    width: 33px;
    height: 33px;
    background:url(../img/jd-sprites.png) no-repeat;
    background-position: -120px -70px;
    background-size: 200px 200px;
    position: absolute;
    top:15px;
    left:50%;
    transform: translate(-50%);
}
.app2 {
    display: block;
    width: 33px;
    height: 33px;
    background:url(../img/jd-sprites.png) no-repeat;
    background-position: -40px -70px;
    background-size: 200px 200px;
    position: absolute;
    top:15px;
    left:50%;
    transform: translate(-50%);
}
.app3 {
    display: block;
    width: 33px;
    height: 33px;
    background:url(../img/jd-sprites.png) no-repeat;
    background-position: -80px -70px;
    background-size: 200px 200px;
    position: absolute;
    top:15px;
    left:50%;
    transform: translate(-50%);
}
/* 底部固定 */
.footer {
    min-width: 320px;
    max-width: 640px;
    width:100%;
    height:44px;
    position: fixed;
    z-index: 10;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    background:#fff;
}
.footer_img {
    display: block;
    width:20%;
    height:100%;
}
/* end */