.viewport {
  width: 100%;
  background: #f7f4f1;
}
.viewport .header {
  width: 100%;
}
.viewport .header img {
  width: 100%;
}
.viewport .content {
  padding: 0.875rem 0.78125rem;
  box-sizing: border-box;
}
.viewport .content .top a:first-child {
  color: black;
  font-size: 0.78125rem;
}
.viewport .content .top a:last-child {
  color: #666;
  font-size: 0.78125rem;
}
.viewport .content .bottom {
  height: 9.84375rem;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
  border-radius: 0.375rem;
  margin-top: 0.78125rem;
}
.viewport .content .bottom .bot_top {
  height: 7.34375rem;
  background: #55bc75;
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 1.09375rem 0.875rem;
  box-sizing: border-box;
  position: relative;
}
.viewport .content .bottom .bot_top p:first-child {
  font-size: 1.25rem;
  color: #fff;
}
.viewport .content .bottom .bot_top p:nth-child(2) {
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0.46875rem;
}
.viewport .content .bottom .bot_top p:nth-child(3) {
  font-size: 0.625rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.5rem;
}
.viewport .content .bottom .bot_top .bg {
  position: absolute;
  top: -0.46875rem;
  right: -0.46875rem;
}
.viewport .content .bottom .bot_top .start {
  width: 3rem;
  height: 1.0625rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1.0625rem;
  position: absolute;
  right: 0.78125rem;
  bottom: 0.9375rem;
}
.viewport .content .bottom .bot_top .start a {
  color: rgba(255, 255, 255, 0.7);
}
.viewport .content .bottom .bot_bottom {
  display: flex;
}
.viewport .content .bottom .bot_bottom ul {
  display: flex;
  flex: 1;
}
.viewport .content .bottom .bot_bottom ul li {
  flex: 1;
}
.viewport .content .bottom .bot_bottom ul li a {
  font-size: 25px;
  color: #666;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 0.5625rem;
  border-right: 0.03125rem solid #ccc;
}
.viewport .content .bottom .bot_bottom ul li a .icon-edit {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.46875rem;
  color: #82ce99;
}
.viewport .content .bottom .bot_bottom ul li a .rt {
  margin-right: 0.46875rem;
  color: #82ce99;
}
.viewport .content .tt {
  margin: 0.78125rem 0 0.78125rem 0;
}
.viewport .content .icon-time {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.46875rem;
}
.viewport .content .bot_top {
  height: 7.34375rem;
  background: #a974bc;
  border-radius: 0.375rem;
  padding: 0.15625rem 0.875rem;
  box-sizing: border-box;
  position: relative;
}
.viewport .content .bot_top .s {
  font-size: 0.9375rem;
  color: white;
}
.viewport .content .bot_top .f {
  font-size: 2.1875rem;
  color: white;
}
.viewport .content .bot_top .g {
  font-size: 0.71875rem;
  color: rgba(255, 255, 255, 0.5);
}
.viewport .content .bot_top p:nth-child(2) {
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.8);
}
.viewport .content .bot_top p:nth-child(3) {
  font-size: 0.625rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1.25rem;
}
.viewport .content .bot_top .bg {
  position: absolute;
  top: -0.46875rem;
  right: -0.46875rem;
}
.viewport .content .bot_top .start {
  width: 3rem;
  height: 1.0625rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1.0625rem;
  position: absolute;
  right: 0.78125rem;
  bottom: 0.9375rem;
}
.viewport .content .bot_top .start a {
  color: rgba(255, 255, 255, 0.7);
}
.viewport .content .bottom {
  height: 9.84375rem;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.3);
  border-radius: 0.375rem;
  margin-top: 0.78125rem;
}
.viewport .content .bottom .bot3_top {
  height: 7.34375rem;
  background: #a974bc;
  border-radius: 0.375rem;
  padding: 0.15625rem 0.875rem;
  box-sizing: border-box;
  position: relative;
}
.viewport .content .bottom .bot3_top .s {
  font-size: 0.9375rem;
  color: white;
}
.viewport .content .bottom .bot3_top .f {
  font-size: 2.1875rem;
  color: white;
}
.viewport .content .bottom .bot3_top .g {
  font-size: 0.71875rem;
  color: rgba(255, 255, 255, 0.5);
}
.viewport .content .bottom .bot3_top p:nth-child(2) {
  font-size: 0.6875rem;
  color: rgba(255, 255, 255, 0.8);
}
.viewport .content .bottom .bot3_top p:nth-child(3) {
  font-size: 0.625rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1.25rem;
}
.viewport .content .bottom .bot3_top .bg {
  position: absolute;
  top: -0.46875rem;
  right: -0.46875rem;
}
.viewport .content .bottom .bot3_top .start {
  width: 3rem;
  height: 1.0625rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1.0625rem;
  position: absolute;
  right: 0.78125rem;
  bottom: 0.9375rem;
}
.viewport .content .bottom .bot3_top .start a {
  color: rgba(255, 255, 255, 0.7);
}
.viewport .content .bottom .bot_bottom {
  display: flex;
}
.viewport .content .bottom .bot_bottom ul {
  display: flex;
  flex: 1;
}
.viewport .content .bottom .bot_bottom ul li {
  flex: 1;
}
.viewport .content .bottom .bot_bottom ul li a {
  font-size: 0.78125rem;
  color: #666;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 0.5625rem;
  border-right: 0.03125rem solid #ccc;
}
.viewport .content .bottom .bot_bottom ul li a .icon-edit {
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  margin-right: 0.46875rem;
  color: #a974bc;
}
.viewport .content .bottom .bot_bottom ul li a .icon-delete {
  color: #a974bc;
}
.viewport .content .bottom .bot_bottom ul li a .rt {
  margin-right: 0.46875rem;
  color: #a974bc;
}
.viewport .content .bottomer {
  height: 6.75rem;
  background: #fff;
  border: 0.0625rem dashed #ccc;
  margin-top: 0.875rem;
  text-align: center;
}
.viewport .content .bottomer .icon-add {
  display: block;
  font-size: 3.3125rem;
  color: #999;
  margin-top: 1rem;
}
.viewport .content .bottomer .icon-add .youhui {
  font-size: 0.625rem;
  display: block;
  margin-top: 0.5rem;
}
.viewport .footer {
  padding: 0.875rem 0.78125rem 1.5625rem;
  font-size: 0.625rem;
  color: #666;
}
.viewport .footer p {
  line-height: 0.9375rem;
}
